:root{
    --grayish-blue: hsl(220, 15%, 55%);
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {    
    background-color: var(--light-gray);
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    
}


.main-container{
    display: flex;
    flex-direction: columns;
    justify-content: center;
    height: 100vh;

}

.card-container{
    background-color: var(--white);
    border-radius: 1.2em;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 375px;
    margin: auto;
    min-height: 62vh;

}

.QR-container{
    margin: 5%;
      
}

.QR-container img{
    border-radius: 0.9em;
    max-height: 50vh;
    max-width: 50vh;
}

.card-container h2, p{
    margin: 0 1.2rem;
    padding: 0.5rem;
    
}

h2{
    font-size: 25px;
}

.instructions{
    color: var(--grayish-blue);
    font-size: 18px;
    
}

.attribution {
    font-size: 11px;
}

.attribution p {
    padding: 3px;
}

 
    /* Mobile */

@media only screen and (max-device-height: 950px) {
    .card-container{ 
       max-height: 95vh;
       height: 90vh;
           }
}


    /* Landscape mobile */
@media only screen and (max-device-width: 1000px)
                   and (orientation: landscape) {
  
   .card-container {
    min-width: 95vw;
    height: 90vh;
    margin: auto;
    
  }

  
   :root{
    font-size: 0.5em;
  }

   .QR-container {
    margin: 2% 0 0 0;
   }

   h2{
    padding: 0 auto;
    margin: 0 auto;
   }
}


